<aside [class.collapsed]="!layout.isSidebarOpen()">
  <div class="logo">
    <svg lucideLayoutDashboard class="brand-icon" [size]="28"></svg>
    <span *ngIf="layout.isSidebarOpen()" class="brand-name">ExpenseTracker</span>
  </div>
  <nav>
    <a routerLink="/expense-tracker/dashboard" routerLinkActive="active-link" class="nav-item">
      <svg lucideHouse class="nav-icon" [size]="22"></svg>
      <span *ngIf="layout.isSidebarOpen()" class="nav-label">Dashboard</span>
    </a>
    <button type="button" class="nav-item nav-button logout-button" (click)="logout()">
      <svg lucideLogOut class="nav-icon" [size]="22"></svg>
      <span class="nav-label" *ngIf="layout.isSidebarOpen()">Logout</span>
    </button>
  </nav>
  <div class="bottom-actions">
    <button (click)="layout.toggleSidebar()" class="toggle-btn">
      <svg *ngIf="layout.isSidebarOpen()" lucideChevronLeft [size]="24"></svg>
      <svg *ngIf="!layout.isSidebarOpen()" lucideChevronRight [size]="24"></svg>
    </button>
  </div>
</aside>
<main class="page-content" [class.sidebar-collapsed]="!layout.isSidebarOpen()">
  <router-outlet></router-outlet>
</main>
