@if (layout.isMobileView() && layout.isSidebarOpen()) {
  <div class="sidebar-backdrop" (click)="layout.closeSidebar()"></div>
}

<aside [class.collapsed]="!layout.isSidebarOpen()" [class.mobile-open]="layout.isMobileView() && layout.isSidebarOpen()">
  <!-- <div class="logo" aria-label="Expense Tracker navigation">
    <svg lucideLayoutDashboard class="brand-icon" [size]="28"></svg>
  </div> -->
  <nav>
    <a routerLink="/expense-tracker/dashboard" routerLinkActive="active-link" class="nav-item">
      <svg lucideHouse class="nav-icon" [size]="22"></svg>
      <span *ngIf="layout.isSidebarOpen()" class="nav-label">Dashboard</span>
    </a>
    <a routerLink="/expense-tracker/budget" routerLinkActive="active-link" class="nav-item">
      <svg lucideWallet class="nav-icon" [size]="22"></svg>
      <span *ngIf="layout.isSidebarOpen()" class="nav-label">Budget</span>
    </a>
    <a routerLink="/expense-tracker/expenses" routerLinkActive="active-link" class="nav-item">
      <svg lucideReceipt class="nav-icon" [size]="22"></svg>
      <span *ngIf="layout.isSidebarOpen()" class="nav-label">Expenses</span>
    </a>
  </nav>
</aside>
<main class="page-content" [class.sidebar-collapsed]="!layout.isSidebarOpen()">
  <app-top-nav />
  <router-outlet></router-outlet>
</main>
