<aside [class.collapsed]="!layout.isSidebarOpen()">
  <button type="button" class="logo logo-toggle" (click)="toggleSidebar()" title="toggle-collaps">
    <svg lucideLayoutDashboard class="brand-icon" [size]="28"></svg>
    <span *ngIf="layout.isSidebarOpen()" class="px-1 py-2">ExpenseTracker</span>
  </button>
  <nav>
    <a routerLink="/expense-tracker/dashboard" routerLinkActive="active-link" class="nav-item">
      <svg lucideHouse class="nav-icon" [size]="22"></svg>
      <span *ngIf="layout.isSidebarOpen()" class="nav-label">Dashboard</span>
    </a>
    <a routerLink="/expense-tracker/budget" routerLinkActive="active-link" class="nav-item">
      <svg lucideWallet class="nav-icon" [size]="22"></svg>
      <span *ngIf="layout.isSidebarOpen()" class="nav-label">Budget</span>
    </a>
    <a routerLink="/expense-tracker/expenses" routerLinkActive="active-link" class="nav-item">
      <svg lucideReceipt class="nav-icon" [size]="22"></svg>
      <span *ngIf="layout.isSidebarOpen()" class="nav-label">Expenses</span>
    </a>
    <button type="button" class="nav-item nav-button logout-button" (click)="logout()">
      <svg lucideLogOut class="nav-icon" [size]="22"></svg>
      <span class="nav-label" *ngIf="layout.isSidebarOpen()">Logout</span>
    </button>
  </nav>
</aside>
<main class="page-content" [class.sidebar-collapsed]="!layout.isSidebarOpen()">
  <router-outlet></router-outlet>
</main>
